.nav-icon {
    font-size: 50;
    padding-left: 10px;
}

.fixed-width-card {
    width: 300px;
}

.fixed-height-img {
    height: 200px;
    width: 100%;
    display: block;
}

.anchored-btn {
    position: absolute;
    left: 20;
    bottom: 20;
}

html,
body {
    height: 100%;
}

#page-content {
    flex: 1 0 auto;
}

#sticky-footer {
    flex-shrink: none;
}

#background {
    width: 100%;
    height: 500px;
    background: url('img/clubphoto.jpg') no-repeat center center;
    background-size: cover;
}

#add-icon {
    font-size: 150;
    color: gray;
    text-align: center;
    padding-top: 30px;
    width: 100%;
}