{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>{{project.title}}</h1>
<div class="row">
	<div class="col-md-8">
		<img class="card-img-top" src="{% static project.image %}">
	</div>
	<div class="col-md-4">
		<h5>About the project:</h5>
        <p>{{ project.description }}</p>
        <br>
        <h5>Technology used:</h5>
        <p>{{ project.technology }}</p>
        <br>
        <h5>Coordinator:</h5>
        <p>{{ project.coordinator }}</p>
        <br>
        <h5><a href="{{ project.link }}">Github</a></h5>
	</div>
</div>
{% endblock %}