{% load static %}

<head>

  <script src="https://kit.fontawesome.com/786260d7a7.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
  </script>
  <script>
    $(document).ready(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>

  <meta name="google-site-verification" content="te89o4_NksGD7Eh_5RFCH9yLIqXw7k2m89NJuJ6ZdF8" />
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="Description" CONTENT="BHCC Computer Club">
  <meta name="robots" content="index,follow">
  
</head>

<body class="d-flex flex-column">

  <nav class="navbar navbar-default navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'home_index' %}">BHCC Computer Science Exchange</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor02"
          aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbarColor02">
        {% with request.resolver_match.url_name as url_name %}
        <ul class="nav navbar-nav mr-auto">
          <li class="nav-item {% if 'home' in url_name %}active {% endif %}">
            <a class="nav-link" href="{% url 'home_index' %}">Home</a>
          </li>
          <li class="nav-item {% if 'project' in url_name %}active {% endif %}">
            <a class="nav-link" href="{% url 'project_index' %}">Projects</a>
          </li>
          <li class="nav-item {% if 'blog' in url_name %}active {% endif %}">
            <a class="nav-link" href="{% url 'blog_index' %}">Blog</a>
          </li>
        </ul>
        {% endwith %}

        <ul class="nav navbar-nav navbar-right">
          <a href="https://discord.gg/76xbjPA" data-toggle="tooltip" data-placement="bottom" title="Discord"><i
              class="fab fa-discord nav-link nav-icon"></i></a>
          <a href="https://github.com/BHCC-CSX" data-toggle="tooltip" data-placement="bottom" title="Github"><i
              class="fab fa-github-square nav-link nav-icon"></i></a>
        </ul>
      </div>
    </div>
  </nav>

  <div id="page-content" class="container" style="padding-top: 100px">
    {% block page_content %}{% endblock %}
  </div>

  <footer id="sticky-footer" class="py-4">
    <div class="container">
      <p style="text-align: center">&copy; BHCC Computer Science Exchange 2020</p>
    </div>
  </footer>

</body>
