{% extends "base.html" %}
{% block page_content %}

<div class="jumbotron">
	<h1 class="display-3">We are BHCC CSX</h1>
	<p class="lead">The Bunker Hill Community College Computer Science Exchange is an organization focused on providing
		students with opportunities to gain practical experience. Members are encouraged to participate in our project
		teams or even start their own. Some of our events include coding competitions, guest
		talks, study breaks and workshops.</p>
	<hr class="my-4">
	<p>Interested in joining?</p>
	<p class="lead">
		<a class="btn btn-primary btn-lg" href="{% url 'project_index' %}" role="button">Email Us</a>
	</p>
</div>
<div class="col-md-8 offset-md-2">
	<div class="card mb-3"></div>
</div>
{% endblock %}